[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-admin = "*"
django = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
python-decouple = "*"
django-super-popups = "*"

[dev-packages]

[requires]
python_version = "3.7"
