{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
{% block header %}

    <!--- basic page needs
   ================================================== -->
    <meta charset="utf-8">
    {% block title %}
    <title>CHANT</title>
    {% endblock title %}
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
   ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
   ================================================== -->
    <link rel="stylesheet" href="{% static "css/base.css" %}" >
    <link rel="stylesheet" href="{% static "css/vendor.css" %}" >
    <link rel="stylesheet" href="{% static "css/main.css" %}" >
    

    <!-- script
   ================================================== -->
    <script src="{% static "js/modernizr.js" %}"></script>
    <script src="{% static "js/pace.min.js" %}"></script>

    <!-- favicons
	================================================== -->
    <link rel="shortcut icon" href="{% static "images/favicon.ico" type="image/x-icon" %}">
    <link rel="icon" href="{% static "images/favicon.ico" type="image/x-icon" %}">

    <!-- Insert Analytics Code here 
	================================================== -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143630650-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143630650-4');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '418044982210919'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=418044982210919&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
    

{% endblock header %}
</head>

{% block content %}
<body id="top">

{% comment %} {% if messages %}
						{% for message in messages %}
                                    <li>
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    </li>
							{% endfor %}
						{% endif %}  {% endcomment %}


    <!-- header 
   ================================================== -->
   <header id="header" class="#">   
   <center> <img class="sppad spcenter spfixed"  src="static/images/chantnew.gif"> </center>

   		{% comment %} <div class="header-logo">
           
	        <a href="index.html">#</a>
	    </div> {% endcomment %}
  
	    <nav id="header-nav-wrap">
			 <ul class="header-main-nav">
				{% comment %} <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
				<li><a class="smoothscroll"  href="#pricing" title="pricing">Pricing</a></li> {% endcomment %}
				 <li><a class="smoothscroll"  href="#getinvolved" title="testimonials">Get Involved</a></li> 
				<li><a class="smoothscroll"  href="#aboutus" title="download">About</a></li>	
			</ul> 

            <a href="#getinvolved" title="sign-up" class=" smoothscroll button button-primary cta">Be a Beta Tester</a>
		</nav>  

		<a class="header-menu-toggle" href="#"><span>Menu</span></a>  	

        

   	
   </header> <!-- /header -->



                     


   <!-- home
   ================================================== -->
   <section id="home" width="50%" data-parallax="scroll" data-image-src="static/images/guitar.jpg" data-natural-width=3000 data-natural-height=2000>
    
        <div class="overlay"></div>
        <div class="home-content">   





            <div class="row contents">                     
                <div class="home-content-left">
                <br class="mobile-break">

                    

                    <h1 data-aos="fade-up">
                    Hire or Hang. Connect and Create.  
                        {% comment %} Discover <br>
                        Connect <br>
                        Create {% endcomment %}
                    </h1>
                    <h3 data-aos="fade-up">Welcome to CHANT</h3>
                    <p class="spwhite"data-aos="fade-up"> Chant is a social media platform that showcases creatives’ work, goals and interests. A confluence of those already creating and those who wish to be. We gather artists in your community, expanding opportunities and inspiring collaboration.</p>
            <br> 

                    <div class="buttons" data-aos="fade-up">
                        <a href="#getinvolved" class="smoothscroll button stroke">
                            <span class="icon-circle-down" aria-hidden="true"></span>
                            Get Involved
                        </a>
                        <a href="https://www.youtube.com/watch?v=MLl-FjuOSvg" data-lity class="button stroke">
                            <span class="icon-play" aria-hidden="true"></span>
                            Watch Video
                        </a>
                    </div>                                         

                </div>

                <div class="home-image-right">
                <br> 
                    <img src="static/images/screen.png" 
                        {% comment %} srcset="static/images/phone1.jpg 1x, static/images/phone1.jpg 2x"   {% endcomment %}
                        data-aos="fade-up">
                </div> 
            </div>

        </div> <!-- end home-content -->

        <ul class="home-social-list">
            <li>
                <a href="https://www.facebook.com/chantapp.io/" target="blank"><i class="fa fa-facebook-square"></i></a>
            </li>
            
            <li>
                <a href="https://www.instagram.com/chantapp.io/"  target = "blank"><i class="fa fa-instagram"></i></a>
            </li>
             <li>
                <a href="https://twitter.com/CHANTappfm" target = "blank" ><i class="fa fa-twitter"></i></a>
            </li>
            
        </ul>
        <!-- end home-social-list -->

        <div class="home-scrolldown">
            <a href="#about" class="scroll-icon smoothscroll">
                <span>Scroll Down</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>

    </section> <!-- end home -->  


    <!-- about
    ================================================== -->
    <a id="aboutus"></a>
    <section id="about">

        <div class="row about-intro">
        <br> 
            

            <div class="col-four">
            
                <h1 class="intro-header" data-aos="fade-up"> Bring your creative offerings to the table </h1>
                {% comment %} <h3 class="#" data-aos="fade-up">
                    Musicians // Bands // Designers // Creatives // Producers // Videographers // Photographers // Artists // Recording Engingeers // Freelancers
                </h3> {% endcomment %}
            </div>
            <div class="col-eight spcenter">
                {% comment %} <h3 class="#" data-aos="fade-up">
                    Musicians // Bands // Designers // Producers Videographers // Photographers // Artists Recording Engingeers // Freelancers
                </h3> {% endcomment %}

                <div class="row about-bottom-image">
            
            <video width="100%" src="static/images/chantmov.mp4" controls> Sorry, your browser doesn't support HTML5 <code>video</code>, but you can watch it here <a href="#" target="_blank">Internet Archive</a>. </video>
           {% comment %} <img width="80%" src="static/images/video.png" 
                srcset="static/images/video.png 600w, 
                        static/images/video.png 1200w, 
                        static/images/video.png 2800w" 
                sizes="(max-width: 2800px) 100vw, 2800px"
                alt="App Screenshots" data-aos="fade-up"> {% endcomment %}

        </div>  <!-- end about-bottom-image -->  
        <br>
            <br> 
           
               
            </div>    
            
            <img width="100%" src="static/images/screens.png" 
                {% comment %} srcset="static/images/spread.png 600w, 
                        static/images/spread.png 1200w, 
                        static/images/spread.png 2896w" 
                sizes="(max-width: 2896px) 100vw, 2896px" {% endcomment %}
                alt="App Screenshots" data-aos="fade-up">

        </div>  <!-- end about-bottom-image --> 
        </div>

        {% comment %} <div class="row about-features">

            <div class="features-list block-1-3 block-m-1-2 block-mob-full group">

                <div class="bgrid feature" data-aos="fade-up">	

                    <span class="icon"><i class="icon-window"></i></span>            

                    <div class="service-content">	

                        <h3>Fully Resposive</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>
                        
                    </div> 	         	 

                    </div> <!-- /bgrid -->

                    <div class="bgrid feature" data-aos="fade-up">	

                        <span class="icon"><i class="icon-image"></i></span>                          

                    <div class="service-content">	
                        <h3>Retina Ready</h3>  

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>

                        
                    </div>	                          

                </div> <!-- /bgrid -->

                <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-paint-brush"></i></span>		            

                    <div class="service-content">
                        <h3>Stylish Design</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p> 
                            
                    </div> 	            	               

                </div> <!-- /bgrid -->

                    <div class="bgrid feature" data-aos="fade-up">

                        <span class="icon"><i class="icon-file"></i></span>	              

                    <div class="service-content">
                        <h3>Clean Code</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p> 
                        
                    </div>                

                    </div> <!-- /bgrid -->

                <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-sliders"></i></span>	            

                    <div class="service-content">	
                        <h3>Easy To Customize</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p>                            
                    </div>	               

                </div> <!-- /bgrid -->

                <div class="bgrid feature" data-aos="fade-up">

                    <span class="icon"><i class="icon-gift"></i></span>	   	           

                    <div class="service-content">
                        <h3>Free of Charge</h3>

                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                        </p> 
                            
                    </div>	               

                </div> <!-- /bgrid -->

            </div> <!-- end features-list -->

        </div> <!-- end about-features -->

        <div class="row about-how">
          
            <h1 class="intro-header" data-aos="fade-up">How The App Works?</h1>           

            <div class="about-how-content" data-aos="fade-up">
                <div class="about-how-steps block-1-2 block-tab-full group">

                    <div class="bgrid step" data-item="1">
                        <h3>Sign-Up</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>

                    <div class="bgrid step" data-item="2">
                        <h3>Upload</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>               
               
                    <div class="bgrid step" data-item="3">
                        <h3>Create</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>

                    <div class="bgrid step" data-item="4">
                        <h3>Publish</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
                        </p> 
                    </div>  

                </div>           
           </div> <!-- end about-how-content -->

        </div> <!-- end about-how -->

        <div class="row about-bottom-image">

           <img src="static/images/app-screens-1200.png" 
                srcset="static/images/app-screens-600.png 600w, 
                        static/images/app-screens-1200.png 1200w, 
                        static/images/app-screens-2800.png 2800w" 
                sizes="(max-width: 2800px) 100vw, 2800px"
                alt="App Screenshots" data-aos="fade-up">

        </div>  <!-- end about-bottom-image -->        {% endcomment %}
        
    </section> <!-- end about -->  




    

<!-- STart Caveman Section  -->
        
<section id="home" data-parallax="scroll" data-image-src="static/images/board.jpg" data-natural-width=3000 data-natural-height=2000>

    <div class="overlay"></div>
    <div class="#">        

        <div class="#">                     
            <div class="home-content-left">

                
                <div class="spbg">
                <h1 data-aos="fade-up">
               About Us 
               
                </h1>
                <h3 data-aos="fade-up">If humans are good at one thing, it’s finding the proper tool to take their work to the next level. When we lived in caves and got hungry, we invented the spear. When we realized that we liked gardening better than battling wooly mammoths, we invented the plow.</h3>
                <br> 
                <h3 data-aos="fade-up">“Making do” only makes sense for so long. At some point, it’s time to stop jury-rigging and start building the proper tool. Chant is that proper tool, beautifully designed, purposefully inclusive, and specifically functional for creatives’ needs.</h3>
               <br> 
               <h3 data-aos="fade-up">After moving to a new city, founder ryan lanier found himself without an outlet for creative collaboration. he gathered a group of his creative co-conspirators to help make something new, a tool to bring creative communities closer, to help artists living near each other discover new ways to co-create.
               </h3>
        
              <a id="getinvolved"> </a> 
                </div> 

               
            </div>

            
        </div>

    </div> <!-- end home-content -->

    {% comment %} <ul class="home-social-list">
        <li>
            <a href="#"><i class="fa fa-facebook-square"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
        </li>
    </ul> {% endcomment %}
    <!-- end home-social-list -->

    {% comment %} <div class="home-scrolldown">
        <a href="#about" class="scroll-icon smoothscroll">
            <span>Scroll Down</span>
            <i class="icon-arrow-right" aria-hidden="true"></i>
        </a>
    </div> {% endcomment %}

</section> <!-- end CAVEMAN section  -->  






   

    <!-- pricing
    ================================================== -->
    
    <section id="pricing">
     
        <div  class="row pricing-content">

            <div class="col-four pricing-intro">
                <h1 class="intro-header" data-aos="fade-up"> Get Involved </h1>

                <p data-aos="fade-up"> Chant will be releasing to Beta testers July of 2019! we are incredibly excited to launch this network to you, the creators. Subscribe here to our periodic newsletter to stay in the know, follow chant on social media, and sign-up to become a Beta tester! We look forward to introducing you to Chant soon! 
                </p>
                <br>
                <h2 data-aos="fade-up"> Download </h2> 

                <section data-aos="fade-up" id="download">
                <ul class="download-badges">
                    <li><a href="https://apps.apple.com/us/app/chant-hire-or-hang/id1472786293 " target="blank" title="" class="badge-appstore"  >App Store</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=io.chantapp.android" target="blank" title="" class="badge-googleplay" >Play Store</a></li>
                </ul>
            </section> 
            

                
                {% comment %} <h1 class="intro-header" data-aos="fade-up">Launching 2019 </h1> {% endcomment %}
            </div>

            <div class="col-eight pricing-table">
                <div class="row">

                    <div class="col-six plan-wrap">
                        <div class="plan-block" data-aos="fade-up"> 

                            <div class="#">
                                <h3 class="plan-block-title">Subscribe </h3>
                                <br> 
                                
                                <p class="plan-block-per">Want to stay in the know about all the latest Chant discoveries? Sign up for our newsletter and stay connected. </p>
                            <br> 
                            </div>
                            <div class="#">
                                <div class="#">
                
                        <form id="info" action="." class="#" method = "post" >
                        {% csrf_token %}
                            <center> 
                            {% comment %} <input type="hidden" form-type="info" ></input> {% endcomment %}
                                <input type="text" value="" name="name" class="#" id="name" placeholder="Name " required=""> 
                                <input type="email" value="" name="email" class="#" id="email" placeholder="Email Address" required="true"> 
                                <input type="text" value="" name="city" class="#" id="city" placeholder="City, State" required=""> 
                                <input type="text" value="" name="interests" class="#" id="#" placeholder="Creative Interests" required=""> 
                            <br>
                            <button type="submit" name="sendinfo" value="Send">Send <i class="fa fa-angle-double-right"></i></button>
                            </center>              
                            {% comment %} <label for="mc-email" class="subscribe-message"></label> {% endcomment %}
                        </form>  
                    </div>
                                {% comment %} <a class="button button-primary large" href="">Get Started</a> {% endcomment %}
                            </div>  
                        </div>
                    </div> <!-- end plan-wrap -->

                    <div class="col-six plan-wrap">
                            <div class="plan-block primary" data-aos="fade-up">

                                <div class="plan-top-part">
                                    <h3 class="plan-block-title">Beta Test </h3>
                                    <br> 
                                    
                                    <p class="plan-block-per">Want to be part of testing the Beta release of the Chant App? We are looking for creatives to test our initital launch. Sign up here!</p>
                                </div>

                                <div class="plan-bottom-part">
                                {% comment %} Beta Test {% endcomment %}
                              <form id="beta" name="form" action="." class="#" method = "post" >
                        {% csrf_token %}
                            <center> 
                                <input type="text" value="" name="name" class="#" id="name" placeholder="Name " required=""> 
                                <input type="email" value="" name="email" class="#" id="email" placeholder="Email Address" required="true"> 
                                <input type="text" value="" name="city" class="#" id="city" placeholder="City, State" required=""> 
                                <input type="text" value="" name="interests" class="#" id="#" placeholder="Creative Interests" required=""> 
                            <br>
                            <button type="submit" name="beta" value="Send">Send <i class="fa fa-angle-double-right"></i></button>
                            </center>              
                            {% comment %} <label for="mc-email" class="subscribe-message"></label> {% endcomment %}
                        </form>
                            </div>

                        </div>
                    </div> <!-- end plan-wrap -->

                </div>               
            </div> <!-- end pricing-table -->

        </div> <!-- end pricing-content -->
    </section> <!-- end pricing -->


    {% comment %} <!-- Testimonials Section
    ================================================== -->
    <section id="testimonials">

        <div class="row">
            <div class="col-twelve">
                <h1 class="intro-header" data-aos="fade-up">What They Say About Our App.</h1>
            </div>   		
        </div>   	

        <div class="row owl-wrap">

            <div id="testimonial-slider"  data-aos="fade-up">

                <div class="slides owl-carousel">

                    <div>
                        <p>
                        Your work is going to fill a large part of your life, and the only way to be truly satisfied is
                        to do what you believe is great work. And the only way to do great work is to love what you do.
                        If you haven't found it yet, keep looking. Don't settle. As with all matters of the heart, you'll know when you find it.
                        </p> 

                        <div class="testimonial-author">
                                <img src="static/images/avatars/user-02.jpg" alt="Author image">
                                <div class="author-info">
                                    Steve Jobs
                                    <span class="position">CEO, Apple.</span>
                                </div>
                        </div>                 
                    </div> 

                    <div>
                        <p>
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet.
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem
                        nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.    
                        </p>

                        <div class="testimonial-author">
                                <img src="static/images/avatars/user-03.jpg" alt="Author image">
                                <div class="author-info">
                                    John Doe
                                    <span>CEO, ABC Corp.</span>
                                </div>
                        </div>                                         
                    </div> 

                </div> <!-- end slides -->

            </div> <!-- end testimonial-slider -->         
            
        </div> <!-- end flex-container -->

    </section> <!-- end testimonials -->
     {% endcomment %}

    {% comment %} <!-- download
    ================================================== -->
    <section id="download">

        <div class="row">
            <div class="col-full">
                <h1 class="intro-header"  data-aos="fade-up">Download Our App Today!</h1>

                <p class="lead" data-aos="fade-up">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                </p>

                <ul class="download-badges">
                    <li><a href="#" title="" class="badge-appstore"  data-aos="fade-up">App Store</a></li>
                    <li><a href="#" title="" class="badge-googleplay" data-aos="fade-up">Play Store</a></li>
                </ul>

            </div>
        </div>

    </section> <!-- end download -->     {% endcomment %}


    <!-- footer
    ================================================== -->
    <footer>

        <div class="footer-main">
            <div class="row">  

                <div class="col-three md-1-3 tab-full footer-info"> 
                <h2 class="spwhite"> CHANT </h2>            

                    {% comment %} <div class="footer-logo"></div> {% endcomment %}

                    <p>
                    Hire or Hang. Connect and Create. We gather artists in your community, expanding opportunities and inspiring collaboration.
                    </p>

                    <ul class="footer-social-list">
                        <li>
                            <a href="https://www.facebook.com/chantapp.io/" target="blank"><i class="fa fa-facebook-square"></i></a>
                        </li>
                       <li>
                            <a href="https://twitter.com/CHANTappfm" target = "blank" ><i class="fa fa-twitter"></i></a>
                        </li>
                        
                        
                        <li>
                            <a href="https://www.instagram.com/chantapp.io/"  target = "blank"><i class="fa fa-instagram"></i></a>
                        </li>
                    </ul>
                    <br>
                    
                    
                </div> <!-- end footer-info -->

                <div class="col-three md-1-3 tab-1-2 mob-full footer-contact">

                    <h4>Contact</h4>

                    <p>
                    Chant LLC <br>
                    St. Louis, MO <br>
                    63130 US<br>		        
                    </p>

                    <p>
                    chant@chantapp.io  <br>
                    
                       
                    </p>                    

                </div> <!-- end footer-contact -->  

                <div class="col-two md-1-3 tab-1-2 mob-full footer-site-links">

                    <h4>Site Links</h4>

                    <ul class="list-links">
                        <li><a href="#">Home</a></li>
                        <li><a href="#aboutus">About Us</a></li>
                        {% comment %} <li><a href="#">Blog</a></li> {% endcomment %}
                        {% comment %} <li><a href="#">FAQ</a></li>
                        <li><a href="#">Terms</a></li> {% endcomment %}
                        <li><a href="static/images/privacy.pdf" target="blank">Privacy Policy</a></li>
                        <li><a href="static/images/terms.pdf" target="blank">Terms and Conditions</a></li>
                    </ul>	      		
                            
                </div> <!-- end footer-site-links --> 

                 <div class="col-four md-1-2 tab-full footer-subscribe">

                    <h4>More Information</h4>

                    <p>Subscribe here to get more information about everything that has to do with Chant </p>

                    <div class="subscribe-form">
                
                        <form id="mc-form" method ="post" class="group" >
                            {% csrf_token %}
                            <input type="email" value="" name="email" class="email" id="mc-email" placeholder="Email Address" required=""> 
                
                            <input type="submit" name="basic" value="Send">
                
                            <label for="mc-email" class="subscribe-message"></label>
                
                        </form>

                    </div>	      		
                            
                </div> <!-- end footer-subscribe -->          

            </div> <!-- /row -->
        </div> <!-- end footer-main -->


      {% comment %} <div class="footer-bottom">

      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Dazzle 2018.</span> 
		         	<span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>		         	
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
		         </div>         
	      	</div>

      	</div> <!-- end footer-bottom -->     	 {% endcomment %}

      </div>

    </footer>

    <div id="preloader"> 
    	<div id="loader"></div>
    </div>  
{% endblock content %}
    <!-- Java Script
    ================================================== -->
    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "js/plugins.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

</body>

</html>